body {
    font-family: 'IBM Plex Mono', sans-serif;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    color: black;
    background-color: white;
}

header {
    text-align: center;
    background-color: #00C8FF;
    padding: 20px;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 5px;
}

header p {
    margin: 5px;
}

section {
    background-color: #OOFFFF;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}
